/**
 * This Styles is made for all of our web app ,we can use it in every where what we want
 * @author : AjiMIde;
 * @Created: 2012-03-18;
 * @Modify : 2013-07-09;
 * @Modify : 2014-10-09;
 * @Modify : 2015-01-23;
 * @Modify : 2015-07-04;
 * @Modify : 2016-06-29;
 * @Mark   : Need for some optimization;
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: #333;
  font-size: 12px;
  background: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif", "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53,\5b8b\4f53";
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}
input,
button {
  font: inherit;
  font-size: 12px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearFix:after {
  content: ' ';
  display: block;
  clear: both;
}
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}
h5 {
  font-size: 17px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
