<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="../resources/public/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../resources/public/keyCommon/key.css">

    <script type="text/javascript" src="../resources/public/angularjs/angular.js"></script>
    <script type="text/javascript" src="../resources/public/angularjs/angular-animate.js"></script>
    <link rel="stylesheet" href="../resources/public/keyCommon/key.js">

    <title>ng-custom-filter</title>
    <script>
        var app = angular.module('myApp', []);
        app.filter('custom_filter', function(){

            // All filters must return a function. The first parameter
            // is the data that is to be filtered, and the second is an
            // argument that may be passed with a colon (searchFor:searchString)
            return function(arr, searchString){
                if(!searchString){//如果没有过滤字符串，则返回全部
                    return arr;
                }

                var result = [];
                searchString = searchString.toLowerCase();

                // Using the forEach helper method to loop through the array
                angular.forEach(arr, function(item){
                    if(item.name.toLowerCase().indexOf(searchString) !== -1){
                        result.push(item);
                    }
                });
                return result;
            };

        });
        app.controller('myCtrl', function ($scope, $http) {
            $scope.data=[
                { name:'Hna-hhds', verifyType:'vlan',checkUp:'1',account:'@1001' },
                { name:'Hna-mzl', verifyType:'ip',checkUp:'2',account:'@1021' },
                { name:'Hna-tyjc', verifyType:'areaID',checkUp:'1',account:'@1033' },
                { name:'Hna-whgj', verifyType:'ssid',checkUp:'0',account:'@1044' },
            ];

        });

    </script>
    <style>

    </style>

</head>
<body>
    <div class="container" ng-app="myApp">
        <div class="row" ng-controller="myCtrl">
            <div class="col-md-12" style="padding: 10px 0 0 0;">
                <input type="text" class='form-control' ng-model='filterA' placeholder="过滤器,只过滤方案名">
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>方案名</th>
                    <th>认证方式</th>
                    <th>账号后缀</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,value) in data | custom_filter: filterA">
                    <td>{{key+1}}</td>
                    <td>{{value.name}}</td>
                    <td>{{value.verifyType}}</td>
                    <td>{{value.account}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>
